<h1>All Articles</h1>
<ul id="articles">
<% @article.each do |a| %>
<div class="well sidebar-nav">
	<h3><strong><l1><%=a.title%></l1><br></strong></h3>
	<l1><%=h truncate(a.body, :length=>500)%><%= link_to "See More",article_path(a)%></l1>
	</div>
	<%end%>
	
	<hr>
<div class="btn btn-default"><%= link_to "New article", new_article_path%></div>
	</ul>
	<style>
  
  h1   {color:white}
  p    {color:white}
</style>